<h1>Inclua um Curso</h1>

<form action= "/imagem/5632258c7261c9801a368367/imagem" method="POST" enctype="multipart/form-data">
    <label>imagem: </label>
    <input type="file" placeholder="imagem" name="imagem"><br>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Incluir Imagem"/><br>
</form>