<h1>Faca sua pesquisa aqui</h1>
<form action= "/livro/after" method="POST" class="form-signin">
	<h2 class="form-signin-heading"> Busca</h2>
	<div class="control-group">
	<input type="text" class="form-control" placeholder="titulo" name="titulo">
	</div>
	<br />
	</div>
	
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Search"/>
</form>